.container
	{
		position: absolute;
		/*position: relative;*/
		/*position: fixed;*/
		top: 0;
		left: 0;
		width: 1355px;
		/*height: 100%;*/
		background-image: url("wov.png");
	}

a 
	{
		text-decoration: none;
		color: #777777;
	}

.name
	{		
		position: absolute;
		top: 0;
		margin-left: 156px;
		height: 65px;
		width: 270px;
		background: #4aaaa5;
		color: white;
		padding-left: 30px;
		padding-top: 25px;
		font-size: 32px;
		font-weight: bold;
		z-index: 100;
	}

.header
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 1355px;
		height: 70px;
		padding-top: 20px;
		text-indent: 870px;
		line-height: 90px;
		background-color: #ffffff;
		border-bottom: 2px solid #cccccc;
	}

.main
	{
		/*top: 18.5%;*/
		top: 130px;
		width: 590px;
		margin-left: 156px;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid #dddddd;
		position: relative;
		background-color: #ffffff;
		padding-bottom: 2%;
		margin-bottom: 12.5%;
	}

#submit
	{
		background-color: #4aaaa5;
	}
#line
	{
		padding-bottom: 20px;
		border-bottom: 3px solid #dddddd;
	}

.image
	{	
		float: left;
		padding-right: 25px;
	}
h1, h2
	{
		color: #4aaaa5;
	}

p 
	{
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		line-height: 1.5;
		font-size: 16px;
	}

.sidebar
	{	
		clear: both;
		width: 210px;
		padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 40px;
		border: 1px solid #dddddd;
		text-align: center;
		position: absolute;
		top: 130px;
		/*top: 18.5%;*/
		left: 855px;
		background-color: #ffffff;
	}

#thin-line
	{
		padding-bottom: 20px;
		border-bottom: 2px solid #dddddd;
	}

.footer
	{	
		/*position: fixed;*/
		clear: both;
		/*position: absolute;*/
		position: relative;
		/*overflow: scroll;*/
		/*display: inline-block;*/
		/*display: block;*/
		bottom: 0;
		width: 1355px;
		height: 95px;
		border-top: 10px solid #4aaaa5;
		text-align: center;
		line-height: 95px;
		background: #666666;
		color: #ffffff;
		font-size: 12px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}